<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.15" package="com.hae.beemobile" android:installLocation="auto" android:versionCode="12">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
	<application android:label="BeeMobileApp.Android" android:theme="@style/MainTheme" android:icon="@drawable/Ask_Icon" android:usesCleartextTraffic="true">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.hae.beemobile.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
		<meta-data android:name="com.google.ar.core" android:value="required" />
	</application>
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCEPT_HANDOVER" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-feature android:name="android.hardware.camera.ar" android:required="true" />
</manifest>